/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

/* Custom checkbox styling */
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #d1d5db;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px; /* 20px width */
  height: 20px; /* 20px height */
  outline: none;
}

.custom-checkbox:checked {
  background-color: #2563eb; /* Blue background */
  border: none;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* White checkmark width */
  height: 10px; /* White checkmark height */
  background: white;
  border-radius: 2px;
}

.filter-white {
  filter: brightness(0) invert(1);
}

/* Loading spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
