/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes shadowPulse {
    0%, 100% {
      box-shadow: 0 4px 8px rgba(59, 130, 246, 0.3); /* More pronounced blue shadow */
    }
    50% {
      box-shadow: 0 8px 16px rgba(59, 130, 246, 0.6); /* More pronounced blue shadow */
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .animate-fadeIn.delay-1 {
    animation-delay: 1s;
  }
  
  .animate-shadowPulse {
    animation: shadowPulse 2s infinite;
  }

  /* styles.css or your custom CSS file */
.filter-white {
  filter: brightness(0) invert(1);
}

/* Custom checkbox styling */
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #d1d5db;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px; /* 20px width */
  height: 20px; /* 20px height */
  outline: none;
}

.custom-checkbox:checked {
  background-color: #2563eb; /* Blue background */
  border: none;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* White checkmark width */
  height: 10px; /* White checkmark height */
  background: white;
  border-radius: 2px;
}


  